.content-div{
    font-size: 50px;
    margin-top: 15%;

}
.img-div{
    width: 150px;
    height: 100px;
   
}
.content-para{
    text-align: center; 
    color: white;
}

 td,th {
    border: 1px solid white;
    justify-content: center;
    text-align: center;
    font-size: 26px;
  }