

.content-div{
    font-size: 110px;
    margin-top: 5%;
    width: 100%;
    text-align: center;

}
.img-div{
    width: 150px;
    height: 100px;
   
}
.content-para{
    text-align: center; 
    color: white;
}

 td,th {
    border: 1px solid white;
    justify-content: center;
    text-align: center;
    font-size: 30px;
  }

